.imgItem {
    width: 395px;
    height: 420px;
    margin-right: 15px;
    margin-top: 6px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    /*background-color: lightgray*/
}

::deep.imgItem .imgContainer {
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.imgContainer img {
                margin: auto;
                display: block;
            }*/

::deep.imgItem .btnRemoveImage, ::deep .btnShowImage {
    z-index: 100;
    position: absolute;
    top: 30px;
    display: none
}

::deep.imgItem .btnRemoveImage {
    right: 0px;
}


::deep.imgItem .btnShowImage {
    right: 40px;
}

::deep.imgItem:hover .btnRemoveImage, ::deep.imgItem:hover .btnShowImage {
    display: block
}
